.page-title {
  display: block !important;
  text-align: center;
  font-size: 2rem;
  margin-top: 10px;
}

.form-container {
  width: 500px;
  margin: 0 auto;
  margin-top: 200px;
  padding: 60px;
  border: 1px solid #ccc;
  border-radius: 20px;
  box-shadow: 0 0 10px #ccc;
}

.login-buttons {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;
}